
extends ./index

block contenido
    main.container.mt-5 
        .row
            .col-md-5 
                img(src=`/img/destinos_${resultado.imagen}_ln.jpg`, alt="imagen viaje" class="img-fluid")
            .col-md-7          
                
                h1.text-center #{resultado.titulo}
                p
                    |Salida:#{resultado.fecha_ida} - Regreso: #{resultado.fecha_vuelta}

                p 
                    |$#{resultado.precio} MNX
                p
                    |#{resultado.disponibles} Disponibles

                p= resultado.descripcion
